$border-radius: 0rem !important;
$fa-font-path:"../webfonts";
@import "../bootstrap/scss/bootstrap";
@import "../bootstrap/scss/font-awesome/fontawesome";
@import "../bootstrap/scss/font-awesome/solid.scss";
@import "../bootstrap/scss/font-awesome/regular.scss";
@import "../bootstrap/scss/font-awesome/brands.scss";


@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}


//--------------------------------
// variabili
//--------------------------------

$ey-gradient-dark: linear-gradient(#383838, #000);
$ey-gradient-light: linear-gradient(#FAFAFA, #E6E6E6);
$ey-gradient-lighter: linear-gradient(#ffffff, #F5F5F5);
$ey-default-yellow: #FFDB00;
$ey-default-gray: #ccc;

//--------------------------------
// elementi base
//--------------------------------

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #ccc;
}
select {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='black'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 12px;
    background-position: calc(100% - 10px) calc(100% - 5px);
    background-repeat: no-repeat;
}

.overflowContainer{
    overflow: auto;
}

.logo {
    @include text-hide;
    padding: 0;
    background: url(../images/logo.png) no-repeat center center;
    background-size: cover;
    height: 35px !important;
    width: 38px !important;
}

// decodifica colore schede 

.GRI {
    border-left: solid;

    &.ey-color {
        border-color: $ey-default-yellow;
    }
    &.neutral {
        border-color: $ey-default-gray;
    }
    &.c101 {
        border-color: #1E2C4F;
    }
    &.c102 {
        border-color: #003B73;
    }
    &.c103 {
        border-color: #014A98;
    }
    &.c200 {
        border-color: #742281;
    }
    &.c300 {
        border-color: #02956D;
    }
    &.c400 {
        border-color: #FF6B00;
    }
}
input[type='checkbox'] {
    position: relative;
}

.selettore {
    position: relative;
    label {
        font-size: 0;
        line-height: 0;
        width: 0;
        height: 0;
    }
}

/*input[type='checkbox']::after{
    @include transition(all,.5s,ease-out);
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -3px;
    left: -3px;
    border: 1px solid $ey-default-gray;
    background: #fff;
    border-radius: 0px;
}

input[type='checkbox']:checked::after {
    @include transition(all,.5s,ease-out);
    border: 3px solid #fff;
    background: darken($ey-default-yellow, 10);
    //outline: 1px solid $ey-default-gray;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25), inset 0 0 1px rgba(0,0,0,.25),  0 0 1px 1px rgba(0,0,0,.2);
}

input[type='checkbox'].undefined:checked::after {
    @include transition(all,.5s,ease-out);
    border-top-width: 8px;
    border-bottom-width: 8px;
    background: $ey-default-yellow;
}*/

input[type='checkbox'] + label::before{
    @include transition(all,.5s,ease-out);
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    left: 10px;
    border: 1px solid $ey-default-gray;
    background: #fff;
    border-radius: 0;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.1);
}

input[type='checkbox']:checked + label::before {
    @include transition(all,.5s,ease-out);
    border: 3px solid #fff;
    background: darken($ey-default-yellow, 0);
    //outline: 1px solid $ey-default-gray;
    box-shadow: inset 0 0 5px rgba(0,0,0,.35), 0 0 1px 1px rgba(0,0,0,.1);
}

input[type='checkbox'].undefined:checked + label::before {
    @include transition(all,.5s,ease-out);
    border-top-width: 8px;
    border-bottom-width: 8px;
    background: $ey-default-yellow;
}


.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}


//--------------------------------
// helper
//--------------------------------

.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}

.test {
    border: solid 1px #f00;
}


//--------------------------------
// header
//--------------------------------

.navbar {
    background: $ey-gradient-dark;
    .navbar-text {
        color: $ey-default-gray;
        padding: 0;
        .thumb {
            border-radius: 50%;
            margin-left: 20px;
        }
    }
}

//--------------------------------
// content
//--------------------------------


.welcome {
    flex: 1;  
    background: url(../images/background-welcome.png), $ey-gradient-dark;
    background-position: -30px 30px, 0 0 ;
    background-repeat: no-repeat, no-repeat;
    
    margin: 10px;
    padding: 5px;
    div {
        border: solid 1px rgba(255,255,255,.2);
        min-height: 200px;
        padding: 30px;
        color: #fff;
        .yellow-frame {
            width: 110px;
            height: auto;
            float: none;
            margin-bottom: .5em;
            display: block;
            @include media-breakpoint-up(xl) {
                 float: left;
            margin-right: 1em;
            margin-bottom: .5em;
                
            }
        }
        .welcome-title {
            line-height: 1em;
        }
    }
}


.filtri, .scheda-header {

    border-bottom: solid 1px $ey-default-gray;
}

// lista


.filtri-categorie {
    display: flex;
    background: darken($ey-default-gray, 22);
    a {
        color: #fff;
        line-height: 30px;
        text-transform: uppercase;
        font-size: .75em;
        &.filtro {
            text-align: center;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
        }
        &:hover {
            background: darken($ey-default-gray, 18 );
            text-decoration: none;
        }
        &:focus, &.active {
            background: darken($ey-default-gray, 7);
            text-decoration: none;
        }
    }
}

.filtri, .brief-scheda {
    display: flex;
    background: lighten($ey-default-gray, 7.5);
    line-height: 30px;
    color: #444;
    font-size: .7em;
    align-items: center;
    .selettore {
        flex: 0 0 40px; // rende fissa la larghezza 
        text-align: center
    }
    input[type='checkbox'] {
        font-size: 2em;
        /*position: relative;
        top: 3px;*/
        vertical-align:middle;
        cursor: pointer;
    }
    label {
        margin: 0;
        cursor: pointer;
    }
    #actions {
        display: inline-block;
        margin-left: 15px;
        border-left: solid 1px $ey-default-gray;
        .action {
            display: inline-block;
            color: #444;
            text-decoration: none;
            padding: 0 15px;
            &:hover {
                background: lighten($ey-default-gray, 4);
            }
        }
    }
}



.brief-scheda {
    width: 100%;
    margin-right: 10px;
    border-right: solid 1px $ey-default-gray;
    @include transition(all,.1s,ease-out);
    &.checked {
        background-color: lighten($ey-default-gray, 13);
    }
    &:hover, &.selected {
        margin-right: 0;
    }
    &.selected {
        .info {
            background: #fff !important;
        }
    }
    .info {
        flex: 1; // rende fluida la larghezza
        min-height: 70px;
        background: $ey-gradient-light;
        
        cursor: pointer;
        &.GRI {
            border-width: 8px;
        }
        .stato {
            border-bottom: solid 1px $ey-default-gray;
            line-height: 1em;
            padding: 5px 8px;
            .action {
                float: right;
                font-size: 1.1em;
                text-transform: uppercase;
                .action-icon {
                    @extend %fa-icon;
                    @extend .fas;
                    vertical-align: middle;
                    margin-left: 3px;
                    color: #999;
                    &:before {
                        content: fa-content($fa-var-chevron-right);
                    }
                }
            }
        }
        .nome {
            border-top: solid 1px #fff;
            padding: 4px 8px;
            .codice {
                font-size: 2.3em;
                line-height: 1em;
                font-weight: 500;
                margin: 0;
                color: #000;
            }
            .descrizione {
                font-size: 1em;
                line-height: 1em; 
                margin: 0;
            }

        }
    }
    border-bottom: solid 1px  $ey-default-gray;
}



// scheda
.col-scheda {
    background: #E0E0E0;

    &.col-full {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .brief-scheda {
        //height: 60px;
        line-height: 60px;
        border-bottom: solid 1px $ey-default-gray;
        .info {
            padding: 4px 0;
            cursor: default;
        }
        &:hover {
            margin-right: 10px;
        }
    }

    .scheda-header {
        font-size: .7em;
        background: $ey-gradient-light;
    }

    .reopen-list {
        float: left;
        font-size: 1.75em;
        color: rgba(#818181, .7);
        line-height: 60px;
        padding:  0 10px;
        border: none;
        border-right: solid 1px $ey-default-gray;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
        z-index: 5;
        &:hover {
            color: rgba(#818181, 1);
        }
    }
    .info {
        line-height: 60px;
        height: 60px;
        min-height: 0;
        flex: 1; // rende fluida la larghezza
        position: relative;
        .titolo {
            font-size: 2.6em;
            padding: 0 8px;
            line-height: 60px;
            font-weight: 500;
            margin: 0;
            color: #000;
        }
        
        //cursor: pointer;
        &.GRI {
            border-width: 11px;
        }
        .stato {
            border-bottom: solid 1px $ey-default-gray;
            line-height: 1em;
            padding: 5px 8px;
            .action {
                float: right;
                font-size: 1.1em;
                text-transform: uppercase;
            }
        }
        .nome {
            border-top: solid 1px #fff;
            padding: 10px 8px;
            position: relative;
            .codice {
                font-size: 2.3em;
                line-height: 1em;
                font-weight: 500;
                margin: 0;
                color: #000;
            }
            .descrizione {
                font-size: 1em;
                line-height: 1em; 
                margin: 0;
            }
            &:before, &:after {
                content: "";
                position :absolute;
                border-width: 10px;
                border-style: solid;
                z-index: 5;
                right: 30px;
            }
            &:before {
                bottom: -23px;
                border-color: $ey-default-gray transparent transparent ;

            }
            &:after {
                bottom: -22px;
                border-color: #E6E6E6 transparent transparent ;

            }
        }

        .tool {
            position: absolute;
            right: 20px;
            top: 10px;
            .icon-help, .icon-deleghe {
                display: inline-block;
                height: 26px;
                width: 26px;
                padding: 10px;
                margin: 0 10px;
                opacity: .7;
                &:hover {
                    opacity: 1;
                }
            }
            .icon-help {
                background: url(../images/icon-help.png) no-repeat center center;
            }
            .icon-deleghe {
                background: url(../images/icon-deleghe.png) no-repeat center center;
            }
            .icon-chat {
                background: url(../images/icon-chat.png) no-repeat center center;
            }
        }
    }
    .form-delega {
        //flex: 1;
        width: 100%;
        border: solid 1px $ey-default-gray;
        border-top: 0;
        background: #F8F8F8;
        margin: 0 10px;
        .singola-delega {
            padding: 1em;
            border-bottom: solid 1px $ey-default-gray;
            &:last-of-type {
                border: none;
            }
        }
        .form-group {
            margin-bottom: .5em;
            label {
                font-size: .9em;
            }
        }
        a {
            color: #444;
            //text-decoration: none;
            font-size: .8em;
        }
        .add a {
            margin-right: 10px;
            color: #999;
            &:hover {
                color: #000;
                text-decoration: none;
            }
        }
        .submit a {
            margin-left: 10px;
            color: #999;
            &:hover {
                color: #000;
                text-decoration: none;
            }
        }

        .add-icon {
            @extend %fa-icon;
            @extend .far;
            vertical-align: middle;
            margin-right: 5px;
            
            &:before {
                content: fa-content($fa-var-plus-square);
            }
        }
    }

    .delega-utente {
        width: 100%;
        border: solid 1px $ey-default-gray;
        border-top: 0;
        background: $ey-gradient-lighter;
        margin: 0 10px;
        padding: 10px 20px;
        font-size: .8em; 
        position: relative;

        &:before, &:after {
            content: "";
            position :absolute;
            border-width: 10px;
            border-style: solid;
            z-index: 5;
            left: 11px;
        }
        &:before {
            bottom: -20px;
            border-color: $ey-default-gray transparent transparent ;

        }
        &:after {
            bottom: -19px;
            border-color: #F5F5F5 transparent transparent ;

        }

        .utente {
            margin:0;
            margin-left: 20px;
            position: relative;
            &:before {
                content:"";
                position: absolute;
                width: 8px;
                height: 8px;
                background: #999;
                border-radius: 50%;
                left: -22px;
                top:6px;

            }
        }
        &.last {
            font-weight: 600;
            &:before, &:after {
                display: none;
            }
            .utente {
                &:before {
                    background: #666;
                }
            }
        }
    }

    .sezione-scheda {
        //flex: 1;    
        width: 100%;
        border-top: 0;
        padding: .3em;
        background: #fff;
        margin: 10px;
        margin-bottom: 0;
        
        .form-group {
            margin-bottom: .5em;
            label {
                font-size: .9em;
            }
        }
        a {
            color: #444;
        }
        

        .sezione {
            display: inline-block;
            margin: 0;
            width: 100%;
            font-size: 1.2em;
            padding: .5em .7em;
            position: relative;
            &:hover {
                text-decoration: none;
            }
            .chevron {
                position: absolute;
                right: 1em;
                color: lighten($ey-default-gray, 5);
            }
            .status {
                position: absolute;
                right: 4.5em;
                font-size: .7em;
                line-height: 1em;
                margin-top: 0.6em;
                padding-right: .7em;
                font-weight: 100;
                &.undone {
                    color: #c00;
                    border-right: solid 1em #c00;
                }
            }
        }
        .frame {
            background: #EEEEEE;
            padding: .7em;
            margin-top: .3em;
        }

        ul.bar_tabs {
            overflow: visible;
            height: 25px;
            margin: 3px 0 0 0;
            padding-left: 14px;
            position: relative;
            z-index: 1;
            width: 100%;
            //border-bottom: 1px solid $ey-default-gray;
            li {
                color: #333 !important;
                margin-left: 8px;
                border-bottom: none;
                a {
                    font-size: 1em;
                    border: 1px solid $ey-default-gray;;
                    border-bottom: 0;
                    padding: 5px 20px 3px 20px;
                    background: #F5F7FA;
                    margin: 0;
                    border-top-right-radius: 0;
                    &.active {
                        background: #fff;
                        background: #fff;
                        border-bottom: none;
                        padding: 5px 20px 4px 20px;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            
            &.right {
                padding-right: 14px
            }
        }

        .tab-content {
            background: #fff;
            border: solid 1px $ey-default-gray;
            border-top: 0;
            border-bottom: 0;
        }

        .table {
            text-align: center;
            margin: 0 !important;
            input[type='text'] {
                text-align:center;
            }
            tr th:first-of-type {
                text-align: left;
            }

            thead th {
                border-width: 1px;
                font-weight: 400;
            }
            .info-area td {
                padding: 3px;
                margin: 0;
                border: 0;
                position: relative;
                &:before, &:after {
                    content: "";
                    position :absolute;
                    border-width: 10px;
                    border-style: solid;
                }
                &:before {
                    top: -15px;
                    right: 20px;
                    border-color: transparent transparent $ey-default-gray;

                }
                &:after {
                    top: -14px;
                    right: 20px;
                    border-color: transparent transparent #f7f7f7;

                }
                .area {
                    width: 100%;
                    border-color: $ey-default-gray;
                    box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);
                    background-color: #f7f7f7;
                    padding: .8em;
                    font-size: .8em;
                }
                a {
                    font-size: .8em;
                    padding: 3px 1em;
                    color:#444444;
                }
            }
        }

        .feature {
            font-weight: 400;
        }

        .table-total {
            background: lighten($ey-default-gray, 15);
            border: solid 1px $ey-default-gray;
            border-top: 0;
            font-weight: 600;
        }

        .file-icon {
            @extend %fa-icon;
            @extend .far;
            vertical-align: middle;
            font-size: 1.3em;
            color: lighten($ey-default-gray, 0);
            &:before {
                content: fa-content($fa-var-file-alt);
            }
        }
    }
    .done {
        width: 100%;
        text-align: right;
        margin: 15px 10px;
        a {
            padding: 8px 1.5em;
            margin-left: 10px;
            font-size: .8em;
            color:#444444;
            background: rgba(255,255,255,1) ;
            background: $ey-gradient-lighter;
            text-transform: uppercase;
            &:hover {
                text-decoration: none;
                background: #fff;
                
            }
        }
    }

    // elementi grafico

    .graph-canvas {
        height: 600px;
        width: 100%;
        margin: 0 10px;
        border: solid 1px #ccc;
        border-top: 0;
        background: #F8F8F8;
    }
    .modulo-grafico {
        position: absolute;
        box-shadow:  4px 4px 0px rgba(0,0,0,.1);
        .elemento-grafico {
            width: 100%;
            border: solid 1px $ey-default-gray;
            border-bottom: 0;
            background: #fff;
            &:last-of-type {
                border-bottom: solid 1px $ey-default-gray;
            }
            &.title {
                background: $ey-gradient-lighter;
                font-weight: 600;
                padding: 8px 12px;
                font-size: .9em; 
                .item {
                    margin-left: 0;
                }
            }
            margin: 0;
            padding: 10px 20px;
            font-size: .7em; 
            position: relative;


            .item {
                margin:0;
                margin-left: 16px;
                position: relative;
                &:before {
                    content:"";
                    position: absolute;
                    width: 15px;
                    height: 16px;
                    left: -25px;
                    top:0px;
                }
                &.user {
                    &:before {
                        background: url(../images/user-small.png) no-repeat center center;
                    }
                }
                &.perc {
                    .perc-container {
                        border: solid 1px #ccc;
                        width: 100%;
                        display: block;
                        
                        span {
                            margin: 2px;
                            display: block;
                            height: 14px;
                            &.low {
                                background: #D90000;
                            }
                            &.med {
                                background: #FF9326;
                            }
                            &.hight {
                                background: #00D900;
                            }
                        }
                    }
                    &:before {
                        background: url(../images/perc-small.png) no-repeat center center;
                    }
                }
            }
        }
    }
}


.stacktable { width: 100%; }
.st-head-row { padding-top: 1em; background: $ey-gradient-lighter; font-weight: 500}
.st-head-row.st-head-row-main { font-size: 1.2em; font-weight: 400}
.st-key { width: 49%; text-align: right; padding-right: 1%; }
.st-val { width: 49%; padding-left: 1%; }



/* RESPONSIVE EXAMPLE */

.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media (max-width: 1150px) {
  .stacktable.large-only { display: none; }
  .stacktable.small-only { display: table; }
}